/** --- RESET STYLES --- */
@import url("reset.css");
/** -------------------- */
body {
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 0.55);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.9px;
  background: linear-gradient(136deg, #1f1f1f 0%, #121212 100%);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #232323;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid #151515;
}

.none {
  display: none;
  visibility: hidden;
}

.container {
  margin: 0 auto 0 80px;
  max-width: 1710px;
  padding: 0 15px;
}

:root {
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/** --HEADER--  */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 80px;
  padding: 45px 0;
}
.header-container {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  line-height: 0.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: color var(--transition);
}
.logo:hover,
.logo:focus {
  color: #c4c4c4;
}
.logo-secondary {
  font-weight: 250;
}
.sublogo {
  font-size: 10px;
  font-weight: 250;
}
.lang__list {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 28px;
}
.lang__item {
  position: relative;
}
.lang__item + .lang__item::before {
  position: absolute;
  top: 0;
  left: -15px;
  display: block;
  content: "";
  background-color: rgba(255, 255, 255, 0.4);
  width: 3px;
  height: 19px;
  transform: translate(-50%, 10%);
  pointer-events: none;
}
.lang__link {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  transition: color var(--transition);
}
.lang__link:hover,
.lang__link:focus {
  color: #fff;
}
.lang__link.active-lang {
  color: #fff;
  text-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.7);
}
.search-bar {
  margin-left: 52px;
  transform: scale(1);
  transition: transform var(--transition);
}
.search-bar:hover,
.search-bar:focus {
  transform: scale(1.2);
}
.search-svg {
  fill: #ffffff;
}

/** ASIDE-NAVIGATION  */
.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(136deg, #1f1f1f 0%, #121212 100%);
}

.burger__open-btn {
  position: relative;
  top: 45px;
  left: 0;
  display: block;
  width: 43px;
  height: 30px;
}

.burger__line {
  position: absolute;
  top: 15px;
  left: 0;
  display: block;
  width: 43px;
  height: 3px;
  border-radius: 4px;
  background-color: #c4c4c4;
  transition: background-color var(--transition);
}

.burger__line::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: #c4c4c4;
  transition: background-color var(--transition);
}

.burger__line::after {
  position: absolute;
  content: "";
  bottom: 12px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: #c4c4c4;
  transition: background-color var(--transition);
}
.burger__open-btn:is(:hover, :focus) > .burger__line,
.burger__open-btn:is(:hover, :focus) > .burger__line::before,
.burger__open-btn:is(:hover, :focus) > .burger__line::after {
  background-color: #ffffff;
}
.scroll-down-btn {
  margin-bottom: 120px;
  width: 210px;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  transform: rotate(-90deg);
}

.scroll-down-svg {
  fill: #c4c4c4;
  transform: rotate(90deg);
  transition: transform var(--transition), fill var(--transition);
}

.scroll-down-text {
  max-width: 195px;
  height: 19px;
  transition: color var(--transition);
}

.scroll-down-btn:is(:hover, :focus) .scroll-down-svg,
.scroll-down-btn:is(:hover, :focus) .scroll-down-text {
  fill: #ffffff;
  color: #ffffff;
}

.scroll-down-btn:is(:hover, :focus) > .scroll-down-svg {
  transform: translateX(-30%) rotate(90deg);
}

/** --BURGER MENU--  */

.burger__menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 45px 60px;
  max-width: 619px;
  width: 100%;
  height: 100vh;
  background: linear-gradient(136deg, #1f1f1f 0%, #121212 100%);
  box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.25);
  z-index: 55;
  transform: translateX(-100%);
  transition: transform var(--transition);
}

.burger__menu.is-open {
  transform: translateX(0);
}

.burger__close-btn {
  position: absolute;
  top: 42px;
  right: 56px;
  width: 45px;
  height: 45px;
}
.burger__close-btn:is(:hover, :focus) > .burger__close-line,
.burger__close-btn:is(:hover, :focus) > .burger__close-line::before,
.burger__close-btn:is(:hover, :focus) > .burger__close-line::after {
  background-color: #ffffff;
}

.burger__close-line {
  position: relative;
  display: block;
  width: 45px;
}

.burger__close-line::before {
  position: absolute;
  content: "";
  top: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: #c4c4c4;
  transform: rotate(-45deg);
  transition: background-color var(--transition);
}

.burger__close-line::after {
  position: absolute;
  content: "";
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: #c4c4c4;
  transform: rotate(45deg);
  transition: background-color var(--transition);
}

.burger__list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.burger__item-link {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: color var(--transition);
}

.burger__item-link:is(:hover, :focus) {
  color: #c4c4c4;
}

.burger__address {
  margin-top: 85px;
}

.burger__address-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.burger__address-link {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 2px;
  transition: color var(--transition);
}

.burger__address-link:is(:hover, :focus) {
  color: #ffffff;
}
/** --HERO--  */

.hero {
  height: 100vh;
  margin-left: 80px;
  background-image: linear-gradient(
      136deg,
      rgba(31, 31, 31, 0.91) 0%,
      rgba(18, 18, 18, 0.91) 100%
    ),
    url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  padding-top: 332px;
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.hero__subtitle {
  font-weight: 300;
}

.hero__text {
  margin: 10px 0 20px;
  max-width: 770px;
  color: #fff;
  font-weight: 250;
  line-height: 140%;
  letter-spacing: 1px;
}

.hero__btn {
  padding: 20px 75px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid #fff;
  transition: border-color var(--transition), transform var(--transition),
    box-shadow var(--transition);
}

.hero__btn:is(:hover, :focus) {
  border-color: #c4c4c4;
  box-shadow: 5px 4px 23px 1px rgba(255, 255, 255, 0.25);
  transform: translate(1%, 5%);
}

.social__list {
  position: absolute;
  bottom: 50px;
  right: 75px;
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.social__list::before {
  display: block;
  position: absolute;
  content: "";
  top: -180px;
  left: 50%;
  width: 1px;
  height: 140px;
  background-color: #c4c4c4;
}

.social__svg {
  fill: #c4c4c4;
  transition: transform var(--transition), stroke var(--transition),
    fill var(--transition);
}

.youtube--svg,
.instagram--svg {
  fill: none;
  stroke: #c4c4c4;
}

.social__svg:is(:hover, :focus) {
  stroke: #ffffff;
  transform: scale(1.2);
}

.facebook--svg:is(:hover, :focus) {
  transform: scale(1.12);
}

/** --MODELS--  */

.models {
  position: relative;
  margin-left: 80px;
  padding: 140px 0 55px;
  height: 100vh;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  gap: 40px;
}

.models--swiper {
  width: 100%;
  height: 400px;
}

.models--slide {
  max-width: 720px;
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: space-between;
  background: #232323;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);
}
.models__heli {
  position: relative;
  max-width: 520px;
  padding: 40px;
}
.models__heli-title {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.models__heli-img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.models__stats-list {
  display: flex;
  flex-direction: column;
}
.models__stats-item {
  height: calc((100% - 6px) / 4);
  padding: 33px 68px;
  display: flex;
  align-items: center;
  gap: 12px;
  border: 2px solid rgba(196, 196, 196, 0.05);
}

.models__stats-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-weight: 250;
  line-height: 100%;
  letter-spacing: 0.9px;
}

.models__stats-btn {
  padding: 41px 61px;
  background: #292929;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform var(--transition), background var(--transition);
}

.models__stats-btn:is(:hover, :focus) {
  transform: translate(-3%, -8%);
  background: #2c2c2c;
}

.models__title {
  margin-top: 66px;
  max-width: 748px;
  color: #ffffff;
  font-size: 46px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.models__subtitle {
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 300;
}

.models__text {
  margin: 7px 0 33px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 250;
  line-height: 140%;
  letter-spacing: 1px;
}

.models__btn-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.submit-application__btn {
  padding: 20px auto;
  width: 360px;
  height: 60px;
  background: #fff;
  color: #1b1b1b;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform var(--transition), box-shadow var(--transition);
}

.submit-application__btn:is(:hover, :focus) {
  box-shadow: 5px 4px 23px 1px rgba(255, 255, 255, 0.25);
  transform: translate(1%, 5%);
}

.show-models__btn {
  padding: 20px auto;
  width: 360px;
  height: 60px;
  border: 1px solid #ffffff;
  background: transparent;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: border-color var(--transition), transform var(--transition),
    box-shadow var(--transition);
}

.show-models__btn:is(:hover, :focus) {
  border-color: #c4c4c4;
  box-shadow: 5px 4px 23px 1px rgba(255, 255, 255, 0.25);
  transform: translate(1%, 5%);
}

.models__bg-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 900px;
  height: 500px;
  z-index: -1;
}
